.pnavbar {
  position: relative;
  font-family: "Satisfy" !important;
  font-size: 50px !important;
  font-weight: 550;
}

.logo {
  width: 50px;
  height: auto;
  align-self: flex-end;
  cursor: pointer;
}

#items-number {
  margin: 4rem;
  font-size: 29px;
}

.categorias {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(52, 54, 66);
  margin-top: auto;
  margin-bottom: auto;
  padding-top: auto;
  padding-bottom: auto;
}

.categorias span {
  margin: 10px;
  color: white;
  font-size: 20px;
  font-weight: 550;
}

.categorias span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.productos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  margin: 10px;
  position: relative;
}

.aniadir-carro {
  float: bottom;
}

.confirmar {
  align-self: flex-end;
}

.cancelar {
  align-self: flex-end;
}

.bg-dark,
.bg-dark:active,
.bg-dark:hover,
.bg-dark:focus {
  background-color: #333a40 !important;
}
